.form-wizard-steps {
  margin-bottom: 40px;
}

.tab-pane {
  .inputs {
    margin-bottom: 15px;

    .input-group {
      margin-bottom: 5px;
    }
  }
}

// panels

.tab-content {
  .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .grid {
      width: 33%;
      display: flex;
      flex-direction: column;

      .grid-body {
        flex: 1 0 auto;
      }
    }
  }
}