.form-wizard-steps {
  margin-bottom: 40px;
}

.tab-pane {
  .inputs {
    margin-bottom: 15px;

    .input-group {
      margin-bottom: 5px;
    }
  }
}

// panels

.tab-content {
  .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .grid {
      display: flex;
      flex-direction: column;

      .grid-body {
        flex: 1 0 auto;
        padding: 15px;
      }
    }

    &.template-50 {
      .grid {
        width: 49%;
      }
    }

    &.template-33 {
      .grid {
        width: 33%;
      }
    }
  }
}

.grid-title {
  h4 {
    width: 100%;
  }
}

.radio label {
  display: block;

  &::before,
  &::after {
    left: 0;
    top: 1px;
  }
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.pager {
  bottom: 0;
  padding: 0 19px;
  position: fixed;
  width: 100%;
  z-index: 11;
}
