$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

.tiles .controller a.reload {
  background-image: url('http://webarch.revox.io/3.0/html/webarch/img/icon/portlet-tray.png');
}

.tiles .controller a.remove {
  background-image: url('http://webarch.revox.io/3.0/html/webarch/img/icon/portlet-tray.png');
}

.reload, .remove {
  cursor: pointer;
}

#removed-popup {
  bottom: 0;
  left: 50%;
  position: fixed;
  z-index: 999;
}

.btn-info {
  color: #fff;
  background-color: #1f3853;
}

// Circle charts Easy pie charts
.circle-chart {
  padding-left: 55px;
  position: relative;

  div.desc {
    left: -20px;
    max-width: 110px;
    position: absolute;
    text-align: center;
    top: 35%;
    transform: rotate(270deg);
  }

  &:first-child {
    padding-left: 0;
  }

  .easy-pie-percent {
    left: 5%;
    line-height: 1;
    position: absolute;
    top: 35%;
    width: 90%;

    span {
      display: block;

      &.percent {
        font-size: 22px;

        &.remove-percent {
          &:after {
            content: none;
          }
        }
      }

      &.summary {
        &:after {
          content: none;
        }
      }
    }
  }
}

.mini-chart-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.progress-bar-wrapper.tiles-body {
  background-color: #fff;
  padding: 19px 18px 17px 24px;
}

.tiles .description .mini-description {
  padding-left: 10px;
}

#shopping-wrapper {
  color: #606060;

  h2 {
    font-size: 46px;
  }
}